.navbar {
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 1%;
}

#brand {
    width: 40%;
}

.navbar h1 {
    color: #d9d9d9;
    font-size: 1.7em;
    text-align: left;
    padding-left: 5%;
    font-weight: bolder;
}

.comps-nav {
    /* width: 15%; */
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15%;
    font-size: 1.2em;
    color: #d9d9d9;
    font-weight: bolder;
}

#nav-link {
    text-decoration: none;
    color: #d9d9d9;
}

.user-dropdown-menu {
   background-color: #e6e6e6d8;
   position: absolute;
   margin-top: 1%;
   width: 10%;
   padding: 2%;
   border-radius: 20px;
   top: 10%;
}

.menu-item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #4b4b4b;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    border-top: 1px solid #eee;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: #4e5297;
}

/* Style for the logout item */
.logout-item {
    padding: 10px 15px;
    color: firebrick; /* Red text for Logout */
    font-weight: bold;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.logout-item:hover {
    color: rgb(220, 0, 0);
    background-color: #ffe8e8; /* Light red hover */
}