.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 70vh;
  margin: 1% 10% 0% 10%;
  /* margin: 2%; */
  /* padding-bottom: 1%; */
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
} 

.questionnaire-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2%; */
  height: 95%;
  /* background-color: #1976d2; */
}

.question-card {
  width: 70%;
  height: 80%;
  /* margin: 2%; */
  background: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-label {
  font-size: 160%;
  color: #404040;
  margin-bottom: 0.5%;
  display: block;
  margin-top: 3%;
}

.option-box {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  width: 90%;
  background-color: #f5f5f5;
  height: 5%;
  color: #404040;
  font-size: 110%;
  font-weight: bold;
}

.option-box:hover {
  border: 2px solid #1A597E;
}

.option-box.selected {
  background-color: #1A597E;
  color: #ffffff
}

.custom-input {
  display: block;                
  margin: 16px 0 8px 24px;       
  padding: 5px 12px;
  border-radius: 10px;           
  width: calc(80%);      
  background: #ffffff;          
  color: #404040;                 
  font-size: 110%;              
  position: relative;           
}

.custom-input::before {
  display: block;              
  content: "";                 
  position: absolute;           
  left: 0;                    
  top: -12px;                   
  width: 100%;               
  height: 1.5px;                
  background: #ffffff;
}

.text-input {
  padding: 8px 12px;
  border-radius: 6px;
  width: 100%;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 2%;
  width: 80%;
}

.nav-button, .submit-button, .reset-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 100%;
  height: 120%;
  width: 20%;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover, .submit-button:hover {
  background-color: #1A597E;
  color: #fff;
}

.nav-button:disabled {
  background-color: #f5f5f5;
  color: rgb(139, 139, 139);
  cursor: not-allowed;
}

.next {
  background-color: #ffffff;
}

.next:hover {
  background-color: #1A597E;
  color: #fff;
}

.reset-button {
  background-color: #fff;
}

.reset-button:hover {
  background-color: #1A597E;
  color: #fff;
}

.progress-circles {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 2%;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* border: 2px solid #ffffff; */
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.circle.filled {
  background-color: #1A597E;
  /* border-color: #1A597E; */
}

.circle.current {
  transform: scale(1.3);
  /* border-color: #007bff; */
}