
.reviews-section {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #B9B7B7;
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
    position: relative;
}

.reviews-section-subhead {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #3b3b3b;
    border: 1px solid #B9B7B7;
    padding: 5%;
    width: 88%;
}

.reviews-section h3 {
  text-align: left;
  width: 100%;
  padding-left: 2%;
  margin-left: 0;
}

.review-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust height as needed */
}
 .review-loader{
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
} 


/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


